@import '../../../../styles';
@import '../../../../libraries';

.app-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.user-data {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  div {
    margin: 0 5px;
  }
  div span {
    margin-left: 5px;
  }
}
