@import '../../../../styles';
@import '../../../../libraries';

.app-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  color: #fff;
  padding: 20px;
  max-height: 25px;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.logo {
  white-space: nowrap;
  i {
    margin-right: 6px;
  }
}

.times {
  display: flex;
  white-space: nowrap;
  margin: auto 5px;
  span {
    margin: auto 5px;
  }
}

.news {
  flex-grow: 1;
  margin: 0 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-data {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  &:hover .list-data {
    display: flex !important;
  }
  div {
    white-space: nowrap;
    text-transform: capitalize;
    margin: 0 5px;
  }
  div span {
    margin-left: 6px;
  }
  i {
    color: #f4d200;
  }
  ul span {
    margin-left: 20px;
  }
}

.list-data {
  position: absolute;
  right: 0;
  top: calc(100%);
  display: none;
  flex-flow: column;
  align-items: stretch;
  list-style: none;
  li {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid #037df4;
    text-shadow: 0 0 5px #003487;
    cursor: pointer;
    white-space: nowrap;
    transition: 1s;
    background: rgba(0, 0, 0, 0.71);
    &:hover {
      box-shadow: 0 0 50px 1px #037df4;
      & ~ li:hover:after {
        display: inline-block;
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      display: inline-block;
      background: #09aeff;
      box-shadow: 0 0 10px 1px #fff;
      animation: hoverList 8s infinite both linear;
    }
  }
}

@keyframes hoverList {
  0% {
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
  }
  12.5% {
    top: 50%;
    left: 0;
    width: 2px;
    height: 50%;
  }
  25% {
    top: 100%;
    left: 0;
    width: 2px;
    height: 0;
  }
  37.5% {
    top: 100%;
    left: 50%;
    width: 50%;
    height: 2px;
  }
  50% {
    top: 100%;
    left: 100%;
    width: 0;
    height: 2px;
  }
  62.5% {
    top: 50%;
    left: 100%;
    width: 2px;
    height: 50%;
  }
  75% {
    top: 0;
    left: 100%;
    width: 2px;
    height: 0;
  }
  87.5% {
    top: 0;
    left: 50%;
    width: 50%;
    height: 2px;
  }
  100% {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
  }
}
