@import '../../../../styles';
@import '../../../../mixins';

.app-game-table {
  .absolute;
  .padding-game;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../../assets/img/game-background.png') no-repeat center fixed;
  background-size: cover;
  z-index: -1;
}

.app-table {
  .game-table;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}

.games {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.user {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-width: 30%;
}

.data-user {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  img {
    width: 110px;
    height: 110px;
    border: 1px solid silver;
    border-radius: 6px;
  }
  p {
    width: 100%;
    text-align: left;
    color: #fff;
  }
}

.table-carousel-main {
  flex-grow: 8;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: 100%;
}

.carousel-block {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.ponter-carousel {
  position: relative;
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  margin: auto;
  border: 5px solid orange;
  overflow: hidden;
  border-radius: 100%;
}

.pointer {
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
  bottom: 10%;
  width: 5px;
  background: red;
  border-radius: 25%;
  margin: auto;
}

.button-active {
  background: green;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  list-style: none;
  transition: 10s;
  animation-direction: normal; // направление анимации
  animation-fill-mode: forwards; // не отматывает анимацию
  animation-timing-function: ease-out; // быстрое начало - медленный конец
  &:before { // центральный круг
    content: '';
    .absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 100%;
    margin: auto;
    z-index: 5;
  }
  li {
    position: absolute;
    top: 0;
    perspective-origin: top left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5px;
    height: 50%;
    margin: auto;
    background: yellow;
    z-index: 0;
  }
  li:after {
    counter-increment: section;
    content: counter(section);
    position: fixed;
    left: 600%;
    top: 30%;
    transform: rotate(20deg);
    text-shadow: 0 0 10px #fff;
  }
  li:nth-child(1) {
    transform: rotate(0deg);
  }
  li:nth-child(2) {
    transform: rotate(45deg);
    top: -45%;
    bottom: 0;
    left: 70%;
  }
  li:nth-child(3) {
    transform: rotate(90deg);
    top: 0;
    bottom: 0;
    left: 25%;
    margin-left: 50%;
  }
  li:nth-child(4) {
    transform: rotate(135deg);
    top: 40%;
    bottom: 0;
    left: 70%;
  }
  li:nth-child(5) {
    transform: rotate(180deg);
    top: 50%;
  }
  li:nth-child(6) {
    transform: rotate(225deg);
    left: 30%;
    top: 45%;
  }
  li:nth-child(7) {
    transform: rotate(270deg);
    top: 25%;
    left: 20%;
  }
  li:nth-child(8) {
    transform: rotate(315deg);
    left: 30%;
    top: 5%;
  }
}

.carousel-bonus {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  font-size: 20px;
  padding: 20px 0;
}

.next-button button {
  display: inline-block;
  background: #00b6ff;
  border: 1px solid black;
  margin: auto;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-shadow: 0 0 5px #00d5ff;
  transition: .8s;
  outline: none;
  &:hover {
    background: #00faff;
  }
}

.carousel-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    border-radius: 100%;
  }
}

.result {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  font-size: 2em;
}


/* Карусель */
@keyframes carousel {
  100% {
    transform: rotate(1440deg);
  }
}
/* ------------------------- */
