@import '../../../../styles';
@import '../../../../mixins';

.app-game-table {
  .absolute;
  .padding-game;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../../assets/img/game-background.png') no-repeat center fixed;
  background-size: cover;
  z-index: -1;
}

.app-table {
  .game-table;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}

.games {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.user {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-width: 30%;
}

.data-user {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  text-align: center;
  img {
    width: 110px;
    height: 110px;
    border: 1px solid silver;
  }
  p {
    width: 100%;
    text-align: left;
    color: #fff;
  }
}

.table-carousel-main {
  flex-grow: 8;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: 100%;
}

.carousel-block {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  background: green;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  list-style: none;
  overflow: hidden;
  border-radius: 100%;
  margin: auto;
  border: 5px solid orange;
  &:hover {
    animation: carousel 10s infinite ease-out; // быстро начинается - медленно заканичвается
  }
  &:before { // центральный круг
    content: '';
    .absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 100%;
    margin: auto;
    z-index: 5;
  }
  li {
    position: absolute;
    top: 0;
    perspective-origin: top left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5px;
    height: 50%;
    margin: auto;
    background: yellow;
    z-index: 0;
  }
  li:after {
    content: '1';
    position: absolute;
    top: 0;
  }
  li:nth-child(1) {
    transform: rotate(0deg);
    z-index: 2;
  }
  li:nth-child(2) {
    transform: rotate(45deg);
    z-index: 2;
    top: -25%;
    bottom: 10%;
    left: 50%;
    margin-left: 20%;
  }
  li:nth-child(3) {
    transform: rotate(90deg);
    z-index: 2;
  }
  li:nth-child(4) {
    transform: rotate(135deg);
    z-index: 2;
  }
  li:nth-child(5) {
    transform: rotate(180deg);
    z-index: 3;
  }
  li:nth-child(6) {
    transform: rotate(225deg);
    z-index: 3;
  }
  li:nth-child(7) {
    transform: rotate(270deg);
    z-index: 3;
  }
  li:nth-child(8) {
    transform: rotate(315deg);
    z-index: 3;
  }
}

.carousel-bonus {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  font-size: 20px;
  padding: 20px 0;
}

.carousel-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: green;
  span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    border-radius: 100%;
  }
}

.result {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  font-size: 2em;
}


/* Карусель */
@keyframes carousel {
  100% {
    transform: rotate(360deg);
  }
}
