<app-header></app-header>
<div class="app-game-table">
  <div class="app-table">
    <div class="games">
      <div class="user">
        <div class="data-user">
          <img src="/assets/img/{{userArrData?.img}}" alt="user">
          <p>Никнейм: {{userArrData?.nik_name}}</p>
          <p>Уровень: {{userArrData?.lvl}}</p>
          <p>Деньги: {{userArrData?.coints}}</p>
          <p>Статус: {{userArrData?.status}}</p>
          <p>Позиция в топе: {{userArrData?.top_position}}</p>
        </div>
      </div>
      <div class="table-carousel-main">
        <div class="carousel-block">
          <div class="ponter-carousel">
            <div class="pointer"></div> <!-- Указатель -->
            <ul class="carousel" [ngStyle]="carouselMove">
              <li><span>1</span></li>
              <li><span>2</span></li>
              <li><span>3</span></li>
              <li><span>4</span></li>
              <li><span>5</span></li>
              <li><span>6</span></li>
              <li><span>7</span></li>
              <li><span>8</span></li>
            </ul>
          </div>
          <div class="carousel-bonus next-button">
            <button (click)="carouselMove={transform:'rotate('+randomNumber($event)+'deg)'}">Крутить карусель</button>
          </div>
          <div class="carousel-bonus">
            <!-- bonus -->
            <p>Здесь будут бонусы</p>
          </div>
        </div>
        <div class="carousel-result">
          <h1>Список наград:</h1>
          <ul>
            <li>1 -<span>Награда</span></li>
            <li>2 -<span>Награда</span></li>
            <li>3 -<span>Награда</span></li>
            <li>4 -<span>Награда</span></li>
            <li>5 -<span>Награда</span></li>
            <li>6 -<span>Награда</span></li>
            <li>7 -<span>Награда</span></li>
            <li>8 -<span>Награда</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="result">
      <p>У вас выпало число<span>{{bottomTag.tagIndex}}</span>- поздравляем</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
