@import '../../../../styles';
@import '../../../../mixins';

.app-game-table {
  .absolute;
  background: url('../../../../assets/img/game-background.png') no-repeat center fixed;
  background-size: cover;
  z-index: -1;
}
