@import '../../../../styles';

.sign-in {
  position: relative;
  display: block;
  margin: 10vh auto 0;
  max-width: 500px;
  text-align: center; // left
  padding: 20px 50px;
  z-index: 5;
  h1 {
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
  }
  form {
    position: relative;
    display: flex;
    flex-flow: column;
    margin: auto;
    max-width: 180px;
  }
  form label {
    display: block;
    padding: 5px 0;
    text-align: left;
    color: #fff;
  }
  form input {
    display: block;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
  }
  form button {
    cursor: pointer;
    width: 150px;
    margin: 15px auto;
    padding: 8px 15px;
    border-radius: 30px;
    border: 1px solid silver;
    background: beige;
    transition: .8s;
    outline: none;
    &:hover {
      background: orange;
    }
  }
  form a {
    text-decoration: underline;
    color: #00b6ff;
    text-transform: uppercase;
    font-size: 9px;
  }
}
