@import '../../../../styles';
@import '../../../../mixins';

.app-not-found {
  .absolute;
  background: #007dea;
}

.not-found-main {
  .absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.62);
  text-align: center;
  h1 {
    font-family: @cursive;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 50px 2px #fff;
    font-weight: 900;
  }
  p {
    font-family: @cursive;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 50px 2px #fff;
    font-weight: 900;
  }
  img {
    max-width: 200px;
    margin: 0 auto;
  }
}
